<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Top holistuic|shop</title>
    <link rel="stylesheet" href="./css/all.min.css">
    <link rel="stylesheet" href="./css/shop.css">
    <script src="https://www.paypal.com/sdk/js?client-id=<%=paypalClientId %>"></script>
  </head>
  <body>
    <main>
    <nav>
      <i class="fas fa-shopping-cart fa-3x" id="cart" onclick="viewcart()" ></i>
      <i class="fas fa-shopping-cart fa-3x" id="closeCart" onclick="closeCart()"></i>
      <i class="fas fa-bars fa-3x" id="bars"></i>
      <div class="nav" id="nav">
        <i class="fas fa-times-circle" id="x"></i>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="coaching.html">Coaching</a></li>
          <li><a href="contact.html">Contact me</a></li>
          <li><a href="shop.html">Shop</a></li>
          </ul>
      </div>
    </nav>


<div class="shop" id="shop">
  <div class="items">
    <img src="Castile-Liquid-Soap-300x300.jpeg" alt="hello" class="item-img">
    <p class="item-discripion">Organic Castile Soap-Organic Hand Soap-Liquid Soap Pump-Hand Soap-Liquid
      Soap-Bath and Body Liquid Soap-Shampoo</p>
    <p class="item-price">10.00</p>
      <button type="button" class="button">Add to cart</button>
  </div>

  <div class="items">
    <img src="Castile-Liquid-Soap-300x300.jpeg" alt="hello" class="item-img">
    <p class="item-discripion">Organic Foaming Hand Soap-Organic Hand Soap-Liquid Soap Pump-Hand Soap-Liquid Soap</p>
    <p class="item-price">20.00</p>
      <button type="button" class="button">Add to cart</button>
  </div>

  <div class="items">
    <img src="section-bgimage7-1024x689.jpg" alt="hello" class="item-img">
    <p class="item-discripion">Organic Castile Soap-Organic Hand Soap-Liquid Soap Pump-Hand Soap-Liquid
      Soap-Bath and Body Liquid Soap-Shampoo</p>
    <p class="item-price">10.00</p>
      <button type="button" class="button">Add to cart</button>
  </div>

  <div class="items">
    <img src="Foaming-Hand-Soap-300x300.jpeg" alt="hello" class="item-img">
    <p class="item-discripion">Organic Castile Soap-Organic Hand Soap-Liquid Soap Pump-Hand Soap-Liquid
      Soap-Bath and Body Liquid Soap-Shampoo</p>
    <p class=item-price>10.00</p>
      <button type="button" class="button">Add to cart</button>
  </div>
 <% items.products.forEach(function(item){ %>
  <div class="items">
    <img src="<%= item.img %>" alt="hello" class="item-img">
    <p class="item-discripion"><%= item.discripion %></p>
    <p class="item-price"><%= item.price %></p>
      <button type="button" class="button">Add to cart</button>
  </div>
<% }) %>
</div>

<div class="shopping-cart" id="shopping-cart">
<h2>shopping cart</h2>
<div class="cart-row">
<span class="cart-item" >ITEM</span>
<span class="cart-price" >PRICE</span>
<span class="cart-quantity">QUANTITY</span>
</div>
<div class="cart-items" id="cart-items">
</div>
<div class="total-container">
  <h2 id="total"></h2>
  <h2 id="numberOfProducts"></h2>
</div>
<div id="paypal-button-container">

  </div>
</div>

    <div class="contact-deatails">
       <h1>Don’t Hesitate To Contact</h1>
       <p>Have a question? Get in touch now!</p>
       <div class="details" >
         <i class="fas fa-phone fa-3x"></i><h1>Call Me </h1> <p>0721954749</p>
         <i class="fas fa-map-marker fa-3x"></i><h1>Location</h1> <p>vrede fs, 9835 SA</p>
         <i class="fas fa-envelope fa-3x"></i><h1>Email</h1> <p>sizwenkala80@gmail.com</p>
       </div>
    </div>
    <div class="call">
  <button type="button" name="button">Free 30 mins call <i class="fas fa-arrow-right"></i></button>
  <div>
      <i class="fab fa-twitter fa-3x"></i> <i class="fab fa-facebook fa-3x"></i> <i class="fab fa-instagram fa-3x"></i> <i>in</i>
  </div>
    </div>


          </main>

          <footer>
            <h2 class="footer">copyright<i class="fas fa-copyright"></i> 2022 nourishedsupermom| developed by sizwe</h2>
          </footer>

<script src="public.js" charset="utf-8"></script>

  </body>
</html>
