*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 600px;
  margin: 0;
  padding: 0;
  background-image: url("image5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-wrap: break-word;
}
.slogan{
  color: #3E3E3E;
  font-weight: bolder;
  font-size: 3.5rem;
  margin-top: 4%;
}
.bio{
  font-weight: bolder;
  margin-left: 100px;
  overflow-wrap: break-word;
}

.bio > p{
  opacity: 0.7;
  margin-top: 20px;

}

img{
  max-width: 100%
}
i{
  background-color: #1379AD;
  margin: 5px;
  color: white;
}
.icons{
  margin: 40px;
  opacity: 0.8;
}

.intro{
  display: flex;
  flex-wrap: wrap;
  gap:5em;
  border: 5px solid white;
  margin-top: 7%;
  width: 100%;
  background-color: white;
}
.bio-image{
  margin: 0;
  margin-left: 20%;
}
.bio-image > img {
  max-width: 70%;
}

.about-me{
  background-color: blue;
  color: white;
  font-style: italic;
  height: auto;
  overflow-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
  margin-left: -180px;
}

.about-me > p{
  margin: 80px;
}

.weekly-tips{
  display: flex;
  flex-wrap: wrap;
  gap:5em;
  opacity: 0.8;
}
#weekly-form > h2{
  margin-top: 50px;
  font-weight: bolder;
  font-size: 1.9rem;
}

.certificate{
  border: 5px double #B37D3E;
  background-color: #333333;
  width: 400px;
}
.certificate > h2{
  margin-top: 20%;
  font-style: oblique;
  font-weight: bolder;
  font-size: 2.3rem;
  color: white;
  margin-left: 20%;
}
.certificate > p{
  margin: 50px;
  font-style: oblique;
  font-weight: bolder;
  color: white;
  font-size: 1.3rem;
}

#weekly-form{
  background-image: url("image5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 500px;
  margin-left: 16%;

}

.weekly-inputs{
  margin: 50px;
}

.weekly-inputs > input{
  width: 400px;
  height: 40px;
}

.weekly-inputs >button{
  margin-top: 20px;
  background-color: blue;
  color: #dbdbdd;
  width: 80px;
  height: 40px;
}

.review{
  width: 500px;
  border: 1px solid white;
  overflow-wrap: break-word;
  font-size: 1.5rem;
  border-radius: 3%;
  box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
}

.review > p{
  padding-right: 30px;
  margin: 20px;
  opacity: 0.7;
  padding: 50px;
}

.reviews{
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  margin-top: 50px;
  margin-left: 100px;
}


.testimonials > h2{
  margin-top: 100px;
  margin-left: 40%;
  font-size: 1.9rem;
}

.testimonials > h3{
  margin-left: 40%;
}
.custom-prices > p{
  text-decoration: underline solid;
  overflow-wrap: break-word;
  margin: 20px;
  font-style: italic;
  font-size: 1.2rem;
  opacity: 0.7;
}
.custom-prices{
  overflow-wrap: break-word;
  width: 500px;
  border: 2px solid white;
  border-radius: 2%;
    box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
}

.custom-prices >button{
  margin-left: 30%;
  margin-top: 30px;
  background-color: blue;
  color: white;
  border: none;
  font-size: 1.4rem;
}
.custom-prices >button:hover{
  opacity: 0.5;
}


.plans{
  margin: 6%;
}


.stars{
  margin-left: 34%;
  margin-bottom: 5%;
}

.stars > i{
  background-color: transparent;
  color: gold;
}

.meals{
  display: flex;
  flex-wrap: wrap;
  gap:5em;
}
.plans > h1{
  margin: 20px;
  margin-left: 30%;
}

.blog-articles{
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  gap:6em;
  background-image: url("image2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.articles{
  width: 500px;
  overflow-wrap:break-word;
  background-color: white;
  box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
}
.articles > img{
  max-width: 100%;
}
.articles >h1{
  opacity: 1;
}
.articles >p{
  margin-top: 20px;
  font-weight: bolder;
}
.contact-deatails{
  background-image: url("image2.jpg");
  opacity: 0.8;
  color: #3E3E3E;
}

.details{
  margin-top: 8%;
  margin-left: 40%;;
}

.contact-deatails >  div >i{
  color: black;
  background-color: transparent;
  color: blue;
}

.contact-deatails > h1{
  margin-left: 35%;
  font-size: 2.9rem;
}

.contact-deatails > p{
  margin-left: 35%;
}

.call{
  display: flex;
  margin: 5%;
}
.call > button{
  background-color: blue;
  color: white;
  font-weight: bolder;
  border: none;
}
.call > div > i{
  color: white;
}
.call > div{
  margin-left: 70%;
}
footer{
  border: 2px solid #3E3E3E;
  background-color: #3E3E3E;
  height: 100px;
  text-align: center;
  padding: 50px;
  color: white;
}
.footer > i{
  background-color: transparent;
  color: black;
}

#x{
position: absolute;
margin-left: 90%;
top: 1%;
}

nav{
  background-color: white;
}
nav > i{
  margin-left: 95%;
  color: black;
  background-color: transparent;
}
.nav{
  position: fixed;
  background-color: blue;
  width:250px;
  height: 100%;
  padding-top: 50px;
  margin-left: 80%;
  display: none;
    box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
}
.nav > ul{
  margin-left: 20px;
}
.nav > ul > li{
  margin: 50px;
  text-decoration: none;
}
.nav >ul >li > a{
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.5rem;
  color: white;
}
